<section class="title-banner py-50">
    <div class="container">
        <div class="content">
            <h1>
                <div [innerHTML]="pageTitle"></div>

                <span [innerHTML]="titleSubText"></span>
            </h1>
            <p>{{introText}}</p>
        </div>

    </div>
</section>
<section class="bg-secondary keydates py-50">
    <div class="container">
        <div class="row">
            <div class="col-xl-2 col-lg-3">
                <h2>KEY DATES</h2>
            </div>
            <div class="col-xl-10 col-lg-9 border-left m-scroll">

                <div class="content-datewise">
                    <div class="row">
                        <div class="col-xl-4 col-md-5 col">
                            <div class="left-text">
                                <span>10th JUNE 2019</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right-text checked">Applications open</div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-xl-4 col-md-5 col">
                            <div class="left-text">
                                <span>20th JUNE 2019</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right-text">Webinar</div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-xl-4 col-md-5 col">
                            <div class="left-text">
                                <span>30th SEPTEMBER 2019</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right-text">Applications close</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-md-5 col">
                            <div class="left-text">
                                <span>JANUARY 2020</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right-text">Shortlist announced</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-md-5 col">
                            <div class="left-text">
                                <span>26th FEBRUARY 2020</span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="right-text">Awards ceremony and winners announced</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-apply-awards">
    <div class="loop py-50" *ngFor='let list of contentList'>
        <div class="container">
            <div class="row">
                <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                    <div class="img"
                        [ngStyle]="{'background-image': 'url('+ImgbasUrl+'/'+list['imageContentAsset']+')'}">
                    </div>
                </div>
                <div class="col-xl-8 col-lg-6 col-md-9 mt-mb align-self-center border-right">
                    <div class="content">
                        <h3>{{list['awardName']}}</h3>
                        <p>{{list['introText']}} </p>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-3 align-self-center">
                    <div class="btn-row d-flex justify-content-end">
                        <a class="btn btn-primary" routerLink="/award-application/{{list['url']}}">APPLY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>