<section class="title-banner py-50">
  <div class="container">
    <div class="content">
            <h1> <div [innerHTML]="pageTitle"></div>
                <span [innerHTML]="titleSubText"></span>
            </h1>
            <p>{{introText}}</p>
    </div>
 </div>
</section>
<section class="bg-primary">
  <div class="section-awards text-center py-50 year-loop">
    <div class="container">
        <h2>2018 </h2>
            <h3>STOP SLAVERY AWARD WINNERS</h3>
            <div class="container-logo">
                <div class="row">
                    <div class="col-6 col-sm-6 px-1">
                        <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/apple.jpg" alt="Logo"></div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 px-1">
                        <div class="d-flex align-items-center justify-content-center winners-logo">
                            <div class="img"><img src="assets/images/unilever.jpg" alt="Logo"></div>
                        </div>
                    </div>
                </div>
          </div>
          <h3>HIGHLY COMMENDED</h3>
          <div class="container-logo">
              <div class="row">
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                        <div class="img"><img src="assets/images/thai.jpg" alt="Logo"></div>
                      </div>
                  </div>
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/standard-charted.jpg" alt="Logo"></div>
                      </div>
                  </div>
              </div>
        </div>
        <h3>HERO AWARD WINNERS</h3>
        <div class="container-logo">
            <div class="row">
                <div class="col-6 col-sm-6 px-1">
                    <div class="d-flex align-items-center justify-content-center winners-logo">
                      <div class="content">
                        <h5>Rochelle Keyhan</h5>
                        <p>CEO, Collective Liberty</p>
                      </div>
                    </div>
                </div>
                <div class="col-6 col-sm-6 px-1">
                    <div class="d-flex align-items-center justify-content-center winners-logo">
                        <div class="content">
                            <h5>Triveni Acharya</h5>
                            <p>Founder of the Rescue Foundation</p>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  <div class="section-awards text-center py-50 year-loop">
      <div class="container">
          <h2>2017</h2>
          <h3>STOP SLAVERY AWARD WINNERS</h3>
          <div class="container-logo">
              <div class="row">
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/adidas.jpg" alt="Logo"></div>
                      </div>
                  </div>
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/intel.jpg" alt="Logo"></div>
                      </div>
                  </div>
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/copo.jpg" alt="Logo"></div>
                      </div>
                  </div>
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/ca.jpg" alt="Logo"></div>
                      </div>
                  </div>
              </div>
        </div>
      </div>
  </div>
  <div class="section-awards text-center py-50 year-loop">
      <div class="container">
          <h2>2016</h2>
          <h3>STOP SLAVERY AWARD WINNERS</h3>
          <div class="container-logo">
              <div class="row">
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/hew.jpg" alt="Logo"></div>
                      </div>
                  </div>
                  <div class="col-6 col-sm-6 px-1">
                      <div class="d-flex align-items-center justify-content-center winners-logo">
                          <div class="img"><img src="assets/images/nxp.jpg" alt="Logo"></div>
                      </div>
                  </div>
              </div>
        </div>
      </div>
  </div>
</section>
<section class="bg-secondary">
  <div class="section-awards section-prev-applicants border-0 text-center py-50">
    <div class="container">
        <h3>PREVIOUSLY SHORTLISTED APPLICANTS</h3>
        <div class="row">
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/ch2m.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/mgm.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/nestle.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/shiva.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/marshall.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/mns.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/fmg.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/waitrose.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/wallmart.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/aldi.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/barclay.jpg" alt="Logo"></div>
                </div>
            </div>
            <div class="col-6 col-md-4 px-1">
                <div class="d-flex align-items-center justify-content-center winners-logo">
                    <div class="img"><img src="assets/images/abp.jpg" alt="Logo"></div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>