<section *ngIf="show" class="title-banner py-50">
  <div class="container">
    <div class="content">
        <h1> <div [innerHTML]="pageTitle"></div>
            <span [innerHTML]="titleSubText"></span>
        </h1>
        <p>{{introText}}</p>
    </div>
 </div>
</section>
<section class="judges py-50">
  <div class="container">
      <div class="content text-center">
          <div class="box">
            <a class="img"><img src="assets/images/kailash.png" alt="judge"></a>
            <h3>Kailash Satyarthi</h3>
            <p>Nobel Peace Prize Recipient &amp; 
Children's Rights Activist</p>
          </div>
          <div class="box">
            <a class="img"><img src="assets/images/Patricia.png" alt="judge"></a>
            <h3>Patricia Viseur Sellers</h3>
            <p>International Criminal Lawyer</p>
          </div>
          <div class="box">
            <a class="img"><img src="assets/images/Kevin.png" alt="judge"></a>
            <h3>Kevin Hyland</h3>
            <p>Former UK Independent 
Anti-Slavery Commissioner</p>
          </div>
          <div class="box">
            <a class="img"><img src="assets/images/Cyrus.png" alt="judge"></a>
            <h3>Cyrus R. Vance, Jr.</h3>
            <p>District Attorney, New York Count</p>
          </div>
          <div class="box">
            <a class="img"><img src="assets/images/Kenneth.png" alt="judge"></a>
            <h3>Kenneth Roth</h3>
            <p>Executive Director, Human 
Rights Watch</p>
          </div>
          <div class="box">
            <a class="img"><img src="assets/images/Monique.png" alt="judge"></a>
            <h3>Monique Villa</h3>
            <p>Author, 'Slaves Among Us'</p>
          </div>
          <div class="box">
            <a class="img"><img src="assets/images/john.png" alt="judge"></a>
            <h3>John Ruggie</h3>
            <p>Berthold Beitz Professor in Human Rights 
and International Affairs at Harvard 
University's Kennedy School of Government</p>
          </div>
      </div>
  </div>
</section>
<section class="apply-subscribe">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 bg-primary py-50 d-flex align-content-center justify-content-end flex-wrap">
        <div class="box">
            <div class="content apply text-center">
            <h2>APPLICATIONS NOW  OPEN</h2>
            <p>Browse the award categories and apply now. <br>
                Applications will close 30th September 2019.</p>
                <div class="btn-row pt-3">
                    <a class="btn btn-secondary" [routerLink] = "['categories']">APPLY NOW</a>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6 bg-secondary py-50">
          <div class="box">
          <div class="content subscribe text-center">
              <h2>STAY INFORMED</h2>
              <p>Sign up to our newsletter to ensure you stay <br>
                  informed of key dates and announcements</p>
                  <div class="btn-row pt-3">
                      <a class="btn btn-secondary" href="http://registration.trust.org/s3/Stop-Slavery-Awards-Newsletter-subscription" target="_blank">SUBSCRIBE</a>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
