<!--The content below is only a placeholder and can be replaced.-->

<nav class="nav-wrapper py-50" style="display:block" *ngIf="show" >
  <div class="container h-100">
    <div class="nav-x">
      <div class="d-none d-md-inline-block">MENU</div> 
      <button  (click)="show=!show">
          <span></span>
          <span></span>
      </button>
    </div>
    <div class="row">
      <div class="col-sm-6 brdr-lft d-none d-lg-block">
          <div class="content">
            <h3 class="title">APPLICATIONS <br/>OPEN</h3>
            <p>10th June - 30th September</p>
            <div class="btn-row pt-3">
                <a class="btn btn-primary" href="/categories" (click)="route('categories')">APPLY NOW</a>
            </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-6 brdr-lft">
          <div class="nav-links">
              <ul>
                <li><a (click)="route('/')">HOME</a></li>
                <li><a (click)="route('categories')">CATEGORIES</a></li>
                <li><a (click)="route('about-awards')">ABOUT THE AWARD</a></li>
                <li><a (click)="route('judges')">JUDGES</a></li>
                <li><a (click)="route('past-winners')">PREVIOUS WINNERS</a></li>
                <li><a (click)="route('terms-and-conditions')">T&Cs</a></li>
                <li><a href="http://www.trust.org/about-us/" target="_blank">ABOUT US</a></li>
              </ul>
          </div>
          <div class="copyright">Copyright © 2019 Thomson Reuters Foundation.</div>
      </div>
    </div>
  </div>
</nav>  


<header class="site-header py-50">
  <div class="container">
    <div class="row align-items-center">
        <div class="col">
          <div class="logo">
            <a routerLink="/"><img src="assets/images/logo.png" alt="logo"></a>
          </div>
        </div>
        <div class="col-3">
          <div class="nav-icon d-flex justify-content-end ">
            <div class="d-none d-md-inline-block">MENU</div> 
             <button class="about-awards" (click)="showMe()">
              <span></span>
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
    </div>
  </div>
</header>


<router-outlet (activate)='onActivate($event)'></router-outlet>

<footer class="site-footer py-50">
  <div class="container">
      <div class="row">
          <div class="col-xl-9 col-lg-7">
              <div class="footer-content">
                <p class="my-sm-1">Copyright © 2019 Thomson Reuters Foundation. Thomson Reuters Foundation is a charity registered in England and Wales (registration number: 1082139)</p>
                <ul class="footer-links">
                  <li><a [routerLink] = "['terms-condition']">Terms and Conditions</a></li>
                  <li><a href="http://www.trust.org/privacy-and-cookies/" target="_blank">Privacy and Cookies</a></li>
                  <li><a href="http://www.trust.org/acceptable-use-policy/" target="_blank">Acceptable Use Policy</a></li>
                  <li><a href="http://www.trust.org/about-us/index.html#contact" target="_blank">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xl-3 col-lg-5">
                <div class="footer-logo">
                    <img src="assets/images/footer-logo.png" alt="Logo">
                </div>
            </div>
        </div>
  </div>
</footer>
