<section class="title-banner py-50">
  <div class="container">
    <div class="content">
        <h1 class="no-underline">TERMS &amp; CONDITIONS</h1>
    </div>
 </div>
</section>
<section class="terms-conditions py-50">
  <div class="container">
      <div class="content content-bullit px-40">
          <ul>
            <li><strong>Exclusive Jurisdiction Clause:</strong> Except where prohibited, all issues and questions concerning the construction, validity, interpretation and enforce ability of these Terms &amp; Conditions, or the rights and obligations of the entrant or the Thomson Reuters Foundation in connection with the Awards, shall be governed by, and construed in accordance with, the laws of the England and Wales, and any dispute relating to the Awards (including these Competition Rules) shall be brought under the exclusive jurisdiction of England.</li>
            <li><strong>Organiser:</strong> Thomson Reuters Foundation, 30 South Colonnade, London E14 5EP, UK</li>
            <li><strong>Confidentiality:</strong> Applications are strictly confidential and any information received will be treated with utmost confidence.  </li>
            <li>The Stop Slavery Awards 2020 will be open for applications from Monday 10th Junw through Tuesday 16 April at 5pm. Entries received after this     
time will not be processed.</li>
          </ul>

          <h4>Before Deciding Whether to Apply Please Read the Following Conditions:</h4>

          <ul>
            <li>The same initiative cannot be submitted in more than one category. All partners involved in the same initiative must decide which category it best fits into and submit one application to that category only. There is no limit to the number of applications each organisation may submit provided the initiatives detailed are different.</li>
            <li>In order to score highly, you will need to be able to demonstrate the impact of your work to your beneficiaries and wider society.</li>
          </ul>

          <h4>Previous Applicants:</h4>

          <ul>
            <li>If your initiative was shortlisted in 2018 you can apply again with the same initiative (or another) in any category, however the judges will be looking for ways in which your initiative has developed over the past year.</li>
            <li>If your initiative won an Award in (2018), it should not be entered in any category for three years following receiving the Award. For example, any     initiative that won in 2018 should not be entered again until 2022 (i.e. it is not eligible for 2019, 2020 and 2021).  When submitting in following     years the initiative should have had substantial changes made to it since winning the Award. You may apply with a different initiative to this year’s 
Awards.</li>
          <li><strong>Data Protection</strong> </li>
          <li><strong>Video footage &amp; Photography/ Publicity</strong></li>
          <li>No transfer, refund, cash redemption, substitution, cash equivalent or replacement of any prize by any winner is permitted. No purchase or payment is necessary to enter. A purchase or payment will not improve your chances of winning. The Hero Award is governed by these   Competition Rules and is subject to all applicable English law. Void where prohibited.</li>
          </ul>
      </div>  
  </div>
</section>
<section class="apply-subscribe">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 bg-primary py-50 d-flex align-content-center justify-content-end flex-wrap">
        <div class="box">
            <div class="content apply text-center">
            <h2>APPLICATIONS NOW  OPEN</h2>
            <p>Browse the award categories and apply now. <br>
                Applications will close 30th September 2019.</p>
                <div class="btn-row pt-3">
                    <a class="btn btn-secondary" href="">APPLY NOW</a>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6 bg-secondary py-50">
          <div class="box">
          <div class="content subscribe text-center">
              <h2>STAY INFORMED</h2>
              <p>Sign up to our newsletter to ensure you stay <br>
                  informed of key dates and announcements</p>
                  <div class="btn-row pt-3">
                      <a class="btn btn-secondary" href="http://registration.trust.org/s3/Stop-Slavery-Awards-Newsletter-subscription" target="_blank">SUBSCRIBE</a>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>