<section class="title-banner py-50">
  <div class="container">
    <div class="content">
        <h1>ABOUT THE AWARDS</h1>
        <p>The Stop Slavery Awards recognise &amp; celebrate those dedicated to the fight against all forms of modern slavery and human trafficking.</p>
    </div>
 </div>
</section>
<section class="about py-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
          <div class="content">
              <!-- <h2>ABOUT THE AWARDS</h2> -->
              <p>In collaboration with global law firm Baker &amp; McKenzie, and in consultation with leading actors in the anti-slavery space, the Thomson Reuters Foundation launched the Stop Slavery Award in 2015 to recognise companies who can be considered "best in class," based on the policies and the processes they have in place to limit the risk of slavery in their supply chain, as well as on the role they are taking as key agents in the global fight against slavery. In 2018 the Thomson Reuters Foundation updated the award taking into account the range of companies which have applied in the previous two rounds, through distinct and tailored questionnaires, one for Service Companies and one for Good Companies. </p>
              <p>In 2018 the inaugural Stop Slavery Hero Award was launched to recognise more individuals who have had a positive impact in the fight to eradicate forced labour from supply chains – whether on a local level touching the lives of vulnerable people and communities, or on a global stage changing policies that have the potential to affect the lives of millions. </p>
              <p>Taking advantage of the Thomson Reuters Foundation’s position as a nexus for organisations working to combat slavery on both a local and global stage, the aim of the Hero Award is to draw attention to the efforts of remarkable individuals whose achievements would otherwise go unrecognised.</p>
              <p>This year we have grown the Awards further to encompass the full extent of actors going above and beyond to fight modern slavery and human trafficking </p>
          </div>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
          <div class="img side-fixed">
              <img src="assets/images/about-img.jpg" alt="About image">
          </div>
      </div>
    </div>
      
  </div>
</section>
<section class="apply-subscribe">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 bg-primary py-50 d-flex align-content-center justify-content-end flex-wrap">
        <div class="box">
            <div class="content apply text-center">
            <h2>APPLICATIONS NOW  OPEN</h2>
            <p>Browse the award categories and apply now. <br>
                Applications will close 30th September 2019.</p>
                <div class="btn-row pt-3">
                    <a class="btn btn-secondary" href="">APPLY NOW</a>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6 bg-secondary py-50">
          <div class="box">
          <div class="content subscribe text-center">
              <h2>STAY INFORMED</h2>
              <p>Sign up to our newsletter to ensure you stay <br>
                  informed of key dates and announcements</p>
                  <div class="btn-row pt-3">
                      <a class="btn btn-secondary" href="http://registration.trust.org/s3/Stop-Slavery-Awards-Newsletter-subscription" target="_blank">SUBSCRIBE</a>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="objective-award content-bullit py-50">
  <div class="container">
      <div class="content px-40">
            <h2>THE MAIN OBJECTIVES OF THE AWARD</h2>
            
            <ul>
              <li>To create a virtuous cycle or positive paradigm by demonstrating that businesses can indeed play a critical role in stopping the tragedy of 
modern slavery worldwide;</li>
              <li>To help guide consumers’ and customers’ decisions on what goods they decide to buy or use;

                <ul>
                  <li>To raise awareness about the issues of forced labour, the worst forms of child labour, and other forms of modern slavery; </li>
                  <li>To inspire more companies to investigate and improve the working conditions of those at the bottom of their supply chains;</li>
                  <li>To raise awareness of the invaluable work and effort of CSO’s and grassroots organisations working on the frontline in the fight against          
   modern slavery; </li>
                  <li>To recognise and celebrate the impact that companies and organisations can have to influence policy and legislation;</li>
                  <li>To advocate for a better outcome for the victims of modern slavery and human trafficking; </li>
                  <li>To recognise the power of collaboration when different actors come together united through a common purpose and goal; </li>
                </ul>

              </li>
            </ul>

            
        </div>
  </div>
</section>