<section class="title-banner py-50">
  <div class="container">
    <div class="content">
        <h1> <span [innerHTML]="pageTitle"></span> </h1>
        <span [innerHTML]="introText"></span>
    </div>
 </div>
</section>
<section class="about py-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
          <div class="content">
              <span [innerHTML]="mainText"></span>
          </div>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
          <div class="img side-fixed">
              <img src="assets/images/about-img.jpg" alt="About image">
          </div>
      </div>
    </div>
  </div>
</section>
<section class="apply-subscribe">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 bg-primary py-50 d-flex align-content-center justify-content-end flex-wrap">
        <div class="box">
            <div class="content apply text-center">
            <h2>APPLICATIONS NOW  OPEN</h2>
            <p>Browse the award categories and apply now. <br>
                Applications will close 30th September 2019.</p>
                <div class="btn-row pt-3">
                    <a class="btn btn-secondary" href="">APPLY NOW</a>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6 bg-secondary py-50">
          <div class="box">
          <div class="content subscribe text-center">
              <h2>STAY INFORMED</h2>
              <p>Sign up to our newsletter to ensure you stay <br>
                  informed of key dates and announcements</p>
                  <div class="btn-row pt-3">
                      <a class="btn btn-secondary" href="http://registration.trust.org/s3/Stop-Slavery-Awards-Newsletter-subscription" target="_blank">SUBSCRIBE</a>
                  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="objective-award content-bullit py-50">
  <div class="container">
      <div class="content px-40">
            <h2>THE MAIN OBJECTIVES OF THE AWARD</h2>
            <span [innerHTML]="theMainObjectivesOfTheAward"></span>
        </div>
  </div>
</section>