<section class="title-banner py-50">
  <div class="container">
    <div class="content">
        <h1>WHAT IS MODERN SLAVERY &amp; HUMAN TRAFFICKING</h1>
        <p>According to the International Labor Organization and Walk Free Foundation, over 40 million people around the world are victims of modern slavery. Slavery is a hugely profitable business, one estimated to be worth $150 billion a year.</p>
    </div>
 </div>
</section>
<section class="section-content py-50">
  <div class="container">
      <div class="content px-40">
          <h3><strong>Definition of “slavery”</strong></h3>
          <p>The term, ‘slavery’, as used for the Stop Slavery Awards encompasses the UK Modern Slavery Act and the US Federal Acquisition Regulation (FAR) definitions for (I) ‘modern slavery’ and (II) ‘trafficking in persons’, respectively.</p>

          <h3><strong>UK Modern Slavery Act</strong></h3>
          <p>Modern Slavery, as defined in the UK Modern Slavery Act, means when a person:</p>

          <p>a) holds another person in slavery or servitude and the circumstances are such that the person knows or ought to know that the other person is held in slavery or servitude, or</p>

          <p>b) requires another person to perform forced or compulsory labour and the circumstances are such that the person knows or ought to know that the other person is being required to perform forced or compulsory labour.
Under the UK’s Modern Slavery Act, the offence of human trafficking requires that a person arranges or facilitates the travel of another person with a view to that person being exploited. The offence can be committed even where the victim consents to the travel. This reflects the fact that a victim may be deceived by the promise of a better life or job or may be a child who is influenced to travel by an adult. In addition, the exploitation of the potential victim does not need to have taken place for the offence to be committed. It means that the arranging or facilitating of the movement of the individual was with a view to exploiting them for sexual exploitation or non-sexual exploitation. </p>

          <h3><strong>US Federal Acquisition Regulations</strong></h3>
          <p>Trafficking in Persons in all severe forms, as used by the US Federal Acquisition Regulations (FAR) is defined as: </p>
          <p>a) Sex trafficking in which a commercial sex act is induced by force, fraud, or coercion, or in which the person induced to perform such act has not attained 18 years of age; or</p>
          <p>b) The recruitment, harbouring, transportation, provision, or obtaining of a person for labour or services, through the use of force, fraud, or coercion for the purpose of subjection to involuntary servitude, peonage, debt bondage, or slavery.</p>

          <h3>1926 Slavery Convention</h3>
          <p>The definition of Slavery and Servitude Slavery, according to the 1926 Slavery Convention, is the status or condition of a person over whom all or any of the powers attaching to the right of ownership are exercised. Since legal ‘ownership’ of a person is not possible, the key element of slavery is the behaviour on the part of the offender as if he/ she did own the person, which deprives the victim of their freedom. Servitude is the obligation to provide services that is imposed by the use of coercion and includes the obligation for a ‘serf’ to live on another person’s property and the impossibility of changing his or her condition. </p>

          <h3>ILO’s Forced Labour Convention 29 and Protocol</h3>
          <p>Forced or compulsory labour is defined in international law by the ILO’s Forced Labour Convention 29 and Protocol. It involves coercion, either direct threats of violence or more subtle forms of compulsion. The key elements are that work or service is exacted from any person under the menace of any penalty and for which the person has not offered him/her self voluntarily.</p>
      </div>  
  </div>
</section>
